@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('DejaVuSansMono-webfont.eot');
    src: url('DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansMono-webfont.woff') format('woff'),
         url('DejaVuSansMono-webfont.ttf') format('truetype'),
         url('DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;

}

