// Lava Theme (dark) for Octave Online
// Compiler: SASS 3.2.3 and Compass 0.12.2
@import "compass";

$color1: #451405;
$color2: #1c1c1c;
$color3: #85685F;

@mixin gradient1{
	background: $color1; /* Old browsers */
	background: -moz-linear-gradient(top,  $color1 0%, $color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $color1 0%, $color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $color1 0%, $color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $color1 0%, $color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $color1 0%, $color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
}

body{
	color: #E6D2CC;
	background: $color2;
}

#type_here, #login-promo {
	background: $color2;
}

.splittr-bar{
	background: $color3 !important;
	color: black !important;
}

.theme-header{
	@include gradient1;
}

header{
	background: $color1;
	border-bottom-color: $color3;
}

// Flashing Style
.ko-flash{
	background-color: lighten($color2, 20%);
}

#privacy{
	border: 0.5em solid $color3;
}

.prompt_row{
	color: #A65D50;
}
.prompt_error{
	color: #C2C484;
}

#files_list_container{
	background: $color2;

	li {
		background: $color2;

		&.file_active{
			background: $color3;
		}
	}
}

#workspace_panel{
	background: $color2;

	.workspace_type {
		color: $color3;
	}
}

#site_loading_patience{
	background-color: rgba(0, 0, 0, 0.8);
}

#bd_inner{
	background-color: black;
	color: white;
	#bd_block{
		background-color: $color1;
		color: white;
	}
}

#login_box > div > div {
	background-color: $color2;
}
