# Copyright © 2018, Octave Online LLC
#
# This file is part of Octave Online Server.
#
# Octave Online Server is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# Octave Online Server is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Octave Online Server.  If not, see
# <https://www.gnu.org/licenses/>.

interface(`oo_systemctl',`
	gen_require(`
		type oo_t, oo_unit_file_t;
	')

	systemd_exec_systemctl($1)
	init_reload_services($1)
	systemd_read_fifo_file_passwd_run($1)
	allow $1 oo_unit_file_t:file read_file_perms;
	allow $1 oo_unit_file_t:service manage_service_perms;

	ps_process_pattern($1, oo_t)
')

interface(`oo_domtrans',`
	gen_require(`
		type oo_t, oo_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, oo_exec_t, oo_t)
')

interface(`oo_admin',`
	gen_require(`
		type oo_t, oo_unit_file_t;
	')

	allow $1 oo_t:process { ptrace signal_perms };
	ps_process_pattern($1, oo_t)

	oo_systemctl($1)
	admin_pattern($1, oo_unit_file_t)
	allow $1 oo_unit_file_t:service all_service_perms;
')
