# This is the output of audit2allow when running the process under systemd
# and oo_t.  I currently am not using it because SELinux has macros that can
# automate most of these rules, but I haven't taken the time to read up on
# them yet, and this particular part of the application is not as important
# for security vulnerabilities.

require {
	type NetworkManager_t;
	type auditd_t;
	type bin_t;
	type crond_t;
	type device_t;
	type devlog_t;
	type dhcpc_t;
	type docker_t;
	type fixed_disk_device_t;
	type fs_t;
	type fs_t;
	type fsadm_exec_t;
	type getty_t;
	type init_t;
	type kernel_t;
	type kernel_t;
	type loop_control_device_t;
	type lvm_t;
	type mongod_t;
	type mount_exec_t;
	type mount_var_run_t;
	type net_conf_t;
	type oo_t;
	type passwd_file_t;
	type passwd_file_t;
	type policykit_t;
	type postfix_master_t;
	type postfix_pickup_t;
	type postfix_qmgr_t;
	type proc_t;
	type random_device_t;
	type redis_port_t;
	type redis_t;
	type root_t;
	type rsync_exec_t;
	type sandbox_t;
	type semanage_store_t;
	type seunshare_exec_t;
	type shell_exec_t;
	type ssh_exec_t;
	type ssh_home_t;
	type ssh_port_t;
	type sshd_t;
	type sudo_exec_t;
	type sysfs_t;
	type sysfs_t;
	type syslogd_t;
	type system_dbusd_t;
	type systemd_logind_t;
	type tmp_t;
	type tmp_t;
	type tuned_t;
	type udev_t;
	type unconfined_service_t;
	type unconfined_t;
	type unlabeled_t;
	type unlabeled_t;
	type user_home_dir_t;
	type vmblock_t;
	type vmblock_t;
	type vmtools_t;

	class blk_file { read write getattr open ioctl };
	class capability { setuid sys_resource setgid chown audit_write dac_override };
	class chr_file { write getattr read open ioctl };
	class dir { search setattr read create mounton write relabelfrom getattr rmdir remove_name relabelto open add_name };
	class fifo_file { write getattr read create unlink open };
	class file { append create execute execute_no_trans getattr ioctl link open read rename setattr unlink write };
	class filesystem { mount unmount getattr };
	class key write;
	class lnk_file { create unlink read getattr };
	class netlink_audit_socket { nlmsg_relay create };
	class netlink_route_socket { bind create getattr nlmsg_read };
	class process { dyntransition signal sigchld execmem setexec setsched setcurrent setcap };
	class sock_file { write create };
	class tcp_socket { getopt name_connect create setopt connect getattr shutdown };
	class udp_socket { create connect getattr };
	class unix_dgram_socket { create connect sendto };
}

#============= oo_t ==============
allow oo_t NetworkManager_t:dir { getattr search };
allow oo_t NetworkManager_t:file { read open };
allow oo_t auditd_t:dir { getattr search };
allow oo_t auditd_t:file { read open };
allow oo_t bin_t:file { execute execute_no_trans };
allow oo_t crond_t:dir { getattr search };
allow oo_t crond_t:file { read open };
allow oo_t device_t:blk_file { read write ioctl open getattr };
allow oo_t dhcpc_t:dir { getattr search };
allow oo_t dhcpc_t:file { read open };
allow oo_t docker_t:dir { getattr search };
allow oo_t docker_t:file { read open };
allow oo_t fixed_disk_device_t:blk_file { read write getattr open ioctl };
allow oo_t fs_t:filesystem getattr;
allow oo_t fs_t:filesystem { mount unmount };
allow oo_t fsadm_exec_t:file { read execute open execute_no_trans };
allow oo_t getty_t:dir { getattr search };
allow oo_t getty_t:file { read open };
allow oo_t init_t:file { read open };
allow oo_t kernel_t:dir { getattr search };
allow oo_t kernel_t:file { read open };
allow oo_t kernel_t:process setsched;
allow oo_t kernel_t:unix_dgram_socket sendto;
allow oo_t loop_control_device_t:chr_file { read write getattr open ioctl };
allow oo_t lvm_t:dir { getattr search };
allow oo_t lvm_t:file { read open };
allow oo_t mongod_t:dir { getattr search };
allow oo_t mongod_t:file { read open };
allow oo_t mount_exec_t:file { read getattr open execute execute_no_trans };
allow oo_t mount_var_run_t:file { read write getattr open };
allow oo_t net_conf_t:file { read getattr open };
allow oo_t passwd_file_t:file { read getattr open };
allow oo_t policykit_t:dir { getattr search };
allow oo_t policykit_t:file { read open };
allow oo_t postfix_master_t:dir { getattr search };
allow oo_t postfix_master_t:file { read open };
allow oo_t postfix_pickup_t:dir { getattr search };
allow oo_t postfix_pickup_t:file { read open };
allow oo_t postfix_qmgr_t:dir { getattr search };
allow oo_t postfix_qmgr_t:file { read open };
allow oo_t proc_t:file { read getattr open };
allow oo_t random_device_t:chr_file getattr;
allow oo_t redis_port_t:tcp_socket name_connect;
allow oo_t redis_t:dir { getattr search };
allow oo_t redis_t:file { read open };
allow oo_t root_t:dir mounton;
allow oo_t rsync_exec_t:file { read execute open execute_no_trans };
allow oo_t sandbox_t:dir { getattr search };
allow oo_t sandbox_t:file { read open };
allow oo_t sandbox_t:process { dyntransition signal };
allow oo_t self:capability { setuid sys_resource setgid chown audit_write dac_override };
allow oo_t self:key write;
allow oo_t self:netlink_audit_socket { nlmsg_relay create };
allow oo_t self:netlink_route_socket { bind create getattr nlmsg_read };
allow oo_t self:process execmem;allow oo_t devlog_t:sock_file write;
allow oo_t self:process { execmem setexec setcurrent setcap setsched };
allow oo_t self:tcp_socket { getattr shutdown };
allow oo_t self:tcp_socket { getopt create connect setopt };
allow oo_t self:udp_socket { create connect getattr };
allow oo_t self:unix_dgram_socket { create connect };
allow oo_t semanage_store_t:dir { read open };
allow oo_t semanage_store_t:file { read getattr open };
allow oo_t seunshare_exec_t:file { read getattr open execute execute_no_trans };
allow oo_t shell_exec_t:file { execute execute_no_trans };
allow oo_t ssh_exec_t:file { read getattr open execute execute_no_trans };
allow oo_t ssh_home_t:dir getattr;
allow oo_t ssh_home_t:file { read getattr open };
allow oo_t ssh_port_t:tcp_socket name_connect;
allow oo_t sshd_t:dir { getattr search };
allow oo_t sshd_t:file { read open };
allow oo_t sudo_exec_t:file { read execute open execute_no_trans };
allow oo_t sysfs_t:dir read;
allow oo_t sysfs_t:file { read getattr open };
allow oo_t sysfs_t:lnk_file read;
allow oo_t syslogd_t:dir { getattr search };
allow oo_t syslogd_t:file { read open };
allow oo_t system_dbusd_t:dir { getattr search };
allow oo_t system_dbusd_t:file { read open };
allow oo_t systemd_logind_t:dir { getattr search };
allow oo_t systemd_logind_t:file { read open };
allow oo_t tmp_t:dir { setattr read create mounton write relabelfrom rmdir remove_name add_name };
allow oo_t tmp_t:file { rename link setattr };
allow oo_t tmp_t:file { write create unlink open };
allow oo_t tmp_t:lnk_file { create unlink };
allow oo_t tuned_t:dir { getattr search };
allow oo_t tuned_t:file { read open };
allow oo_t udev_t:dir { getattr search };
allow oo_t udev_t:file { read open };
allow oo_t unconfined_t:dir { getattr search };
allow oo_t unconfined_t:file { read open };
allow oo_t unlabeled_t:dir remove_name;
allow oo_t unlabeled_t:dir { write rmdir setattr read relabelto create add_name };
allow oo_t unlabeled_t:file { write read create unlink open };
allow oo_t user_home_dir_t:dir { getattr mounton };
allow oo_t vmblock_t:dir { write search getattr add_name };
allow oo_t vmblock_t:file execute_no_trans;
allow oo_t vmblock_t:file { execute read create getattr write ioctl open append };
allow oo_t vmblock_t:lnk_file { read getattr };
allow oo_t vmtools_t:dir { getattr search };
allow oo_t vmtools_t:file { read open };

#============= sandbox_t ==============
allow sandbox_t oo_t:process sigchld;
allow sandbox_t passwd_file_t:file open;
allow sandbox_t sysfs_t:dir read;
allow sandbox_t unlabeled_t:dir { read write create add_name remove_name };
allow sandbox_t unlabeled_t:fifo_file { write getattr read create unlink open };
allow sandbox_t unlabeled_t:file { write create unlink };
allow sandbox_t unlabeled_t:sock_file { write create };
