# Directory names that should not be tracked
_old/
bundle/
node_modules/
vendor/
tmp/

# File extensions that should not be tracked
*.bak
*.log
*.o
*.pem
*.pub
*.pp

# Specific files to omit
shared/config.json
back-octave/octave-host
back-octave/bin/cwd/
entrypoint/exit.js
