# Copyright © 2018, Octave Online LLC
#
# This file is part of Octave Online Server.
#
# Octave Online Server is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# Octave Online Server is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Octave Online Server.  If not, see
# <https://www.gnu.org/licenses/>.

[Service]
ExecStart=/usr/local/share/oo/utils-auth/app.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oo-utils-auth
User=www-data
Group=www-data
RuntimeDirectory=oosocks
Environment=NODE_ENV=production
Restart=always

[Unit]
After=mongodb.service,"mnt-oo\x2dblock2.mount"
Requires=mongodb.service,"mnt-oo\x2dblock2.mount"

[Install]
WantedBy=multi-user.target
