[Service]
ExecStart=/usr/local/share/oo/utils-auth/app.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oo-utils-auth
User=nginx
Group=nginx
Environment=NODE_ENV=production
Restart=always

[Install]
WantedBy=multi-user.target
