color1 = #FF4B33
color2 = #FF715E
color3 = #5C0B00
colorbkg = #FFFFFF
colorfgd = #000000
colorerr = #918500
color2lt = #FFC9C2 // for changed variables
theme_name = fire

@require("../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%);
}

#site_loading_patience{
	background-color: rgba(255, 255, 255, 0.8);
}
