color1 = #1F71FF
color2 = #6BA1FF
color3 = #154596
colorbkg = #FFFFFF
colorfgd = #000000
colorerr = #918500
color2lt = #ADCBFF // for changed variables
icon_name = fire

@require("../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%);
}

.patience{
	background-color: rgba(255, 255, 255, 0.8);
}
