color1 = #7D1D00
color2 = #3B241D
color3 = #695048
colorbkg = #1c1c1c
colorfgd = #E6D2CC
colorerr = #C2C484
color2lt = #594D4B // for changed variables
icon_name = lava

@require("../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%)
}

#site_loading_patience{
	background-color: rgba(0, 0, 0, 0.8)
}
