color1 = #8C3419
color2 = #572F23
color3 = #A66450
colorbkg = #1c1c1c
colorfgd = #E6D2CC
colorerr = #C2C484
color2lt = #594D4B // for changed variables
colorbtn = colorfgd // for the text on buttons with background-color color1
icon_name = lava

@require("../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%)
}

.patience{
	background-color: rgba(0, 0, 0, 0.8)
}
