color1 = #521D12
color2 = #3B2420
color3 = #735049
colorbkg = #1c1c1c
colorfgd = #E6D2CC
colorerr = #C2C484
color2lt = #594D4B // for changed variables
theme_name = lava

@require("../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%)
}

#site_loading_patience{
	background-color: rgba(0, 0, 0, 0.8)
}
