color1 = #FFB433
color2 = #FFC45E
color3 = #5C3A00
colorbkg = #FFFFFF
colorfgd = #000000
colorerr = #918500
color2lt = #FFE9C2 // for changed variables
colorbtn = colorfgd // for the text on buttons with background-color color1
icon_name = fire

@require("../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%);
}

.patience{
	background-color: rgba(255, 255, 255, 0.8);
}
