/*
 * Copyright © 2018, Octave Online LLC
 *
 * This file is part of Octave Online Server.
 *
 * Octave Online Server is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Octave Online Server is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Octave Online Server.  If not, see
 * <https://www.gnu.org/licenses/>.
 */

color1 = #9090E0
color2 = #B0B0E0
color3 = #606090
colorbkg = #FFFFFF
colorfgd = #000000
colorerr = #918500
colorfg1 = color1 // high contrast with colorbkg
colorfg2 = color2 // medium alternate color
colorfg3 = color3 // high contrast with color2
colorfg4 = color3 // darker color, for pressed button
color2lt = #DEE0FF // for changed variables
colorbtn = #FFFFFF // for the text on buttons with background-color color1
icon_name = fire
logo_collection = server

@require("../../all.styl")

.patience{
	background-color: rgba(255, 255, 255, 0.8);
}
