/*
 * Copyright © 2018, Octave Online LLC
 *
 * This file is part of Octave Online Server.
 *
 * Octave Online Server is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Octave Online Server is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Octave Online Server.  If not, see
 * <https://www.gnu.org/licenses/>.
 */

color1 = #292929
color2 = #303030
color3 = #494949
colorbkg = #1c1c1c // matches Ace editor
colorfgd = #E6D2CC
colorerr = #C2C484
colorfg1 = #757575 // high contrast with colorbkg
colorfg2 = color3 // medium alternate color
colorfg3 = colorfgd // high contrast with color2
colorfg4 = color2 // darker color, for pressed button
color2lt = #575757 // for changed variables
colorbtn = colorfgd // for the text on buttons with background-color color1
icon_name = lava
logo_collection = server

@require("../../all.styl")

.patience{
	background-color: rgba(0, 0, 0, 0.8)
}
