@require("kouto-swiss")
@require("mixins.styl")

normalize()

body {
	// debug-backgrounds()
	font: 400 14px/1.2em body_font_family
	color: colorfgd
	background-color: colorbkg
}
h1, h2, h3, h4, h5, h6 {
	font-family: heading_font_family
}
kbd {
	white-space: nowrap
}
.modified {
	font-style: italic
	text-decoration: underline
}
.divide {
	display: inline-block
	width: 0.6em
}
a img {
	border: none
}
.theme-header {
	background-color: color1
	height: toolbar_height
	line-height: toolbar_height
	vertical-align: middle
	border: none
	font-size: 1.1em
	padding: 0 1ex
	white-space: nowrap
	overflow: hidden
}

@require("flexbox.styl")
@require("header.styl")
@require("output_panel.styl")
@require("editor.styl")
@require("callouts.styl")
@require("modals.styl")
@require("print.styl")
