@require("mixins.styl")

callout_color = #369AFF
callout(shadowoffset, direction="up"){
	position: absolute
	border: 3px solid callout_color
	border-radius: 5px
	box-shadow: 0px shadowoffset 16px 0px rgba(0, 0, 0, 0.75)

	// Arrow
	&::before{
		content: " "
		position: absolute
		width: 0
		height: 0
		border: 10px solid
		if direction is "none" {
			border-color: transparent
		} else if direction is "up" {
			border-color: transparent callout_color callout_color transparent
		} else if direction is "left" {
			border-color: transparent transparent callout_color callout_color
		} else {
			border-color: callout_color transparent transparent callout_color
		}
	}
}

#instructor-promo {
	callout(0px, none)
	top: 10px
	left: 10px
	width: 260px
	height: 110px
	padding: 5px
	text-align: center

	// Text Flow
	& > span {
		display: block
		line-height: 1em
		&.l1 {
			font-size: 1.3em
		}
		&.l2 {
			margin-top: 5px
			font-size: 1em
		}
		&.l3 {
			font-size: 1em
			margin-top: 10px
			cursor: pointer
			text-decoration: underline
		}
	}
	
	@media (max-width: 450px) {
		display: none
	}
}

#type_here {
	callout(0px, down)
	bottom: prompt_height + 25px
	left: 10px
	height: auto
	width: 330px
	max-width: 80%
	padding: 10px

	// Arrow
	&::before {
		left: 10px
		bottom: -20px
	}

	// Text Flow
	& > span {
		display: block
		line-height: 1em
		&.l1{
			font-size: 2em
		}
		&.l2{
			margin-top: 5px
			font-size: 1.2em
			kbd {
				color: green
			}
		}
		&.l3{
			margin-top: 10px
			font-size: 1.2em
			color: #999
		}
		a{
			color: inherit
		}
	}
}

#login-promo{
	callout(4px, up)
	display: block
	top: header_height + 15px;
	right: 10px;
	width: 200px;
	height: auto;
	text-align: center;
	z-index: 100;
	padding: 10px 10px;

	// Arrow
	&::before {
		right: 10px;
		top: -20px;
	}

	// Text Flow
	& > span {
		display: block;
		line-height: 1em;
		&.l1{
			font-size: 2em;
		}
		&.l2{
			font-size: 3em;
		}
		&.l3{
			font-size: 1.3em;
			margin-top: 10px;
		}
		&.l4{
			font-size: 1em;
			margin-top: 10px;
			cursor: pointer;
			text-decoration: underline;
		}
	}
	
	@media (max-width: 450px) {
		display: none
	}
}

#sync-promo{
	callout(4px, left)
	top: header_height + 35px
	left: 60px
	width: 240px
	height: auto
	text-align: center
	z-index: 101
	padding: 10px 10px
	display: none

	// Arrow
	&::before {
		left: 10px
		top: -20px
	}

	// Text Flow
	& > span {
		display: block
		line-height: 1em
		&.l1{
			font-size: 1.3em
		}
		&.l2{
			font-size: 1.8em
			margin-top: 5px
		}
		&.l3{
			font-size: 1.1em
			margin-top: 5px
		}
		&.l4{
			font-size: 1.1em
			margin-top: 10px
		}
		&.l5{
			font-size: 1em
			margin-top: 10px
			cursor: pointer
			text-decoration: underline
		}
	}
}
