@require("mixins.styl")

#flexbox {
	display: flex
	flex-flow: column nowrap
	
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	
	& > header {
		flex: 0 0 header_height
	}
	
	& > section {
		flex: 1 1 100%
		display: flex
		flex-flow: row nowrap
		padding-top: gutter_size
		padding-bottom: gutter_size
		background-color: color3
	
		& > #files_container {
			flex: 2 4 100px
			overflow: auto
			-ms-overflow-style: -ms-autohiding-scrollbar
			margin-right: gutter_size
			background-color: colorbkg
		}
		
		& > #open_container {
			flex: 6 4 400px
			margin-right: gutter_size
			background-color: colorbkg
		}
		
		& > #output_panel {
			flex: 12 4 400px
			overflow: hidden
			display: flex
			flex-flow: column nowrap
			
			& > #plot_container {
				flex: 1 1 300px
				overflow: hidden
				margin-bottom: gutter_size
				display: flex
				
				#plot_figure_container{
					flex: 2 1 80%
					overflow: hidden
					margin-right: gutter_size
					background-color: colorbkg
				}
				
				#plot_controls_container{
					flex: 1 1 20%
					overflow: auto
					-ms-overflow-style: -ms-autohiding-scrollbar
					background-color: colorbkg
				}
			}
			
			& > #vars_console_container {
				flex: 4 1 300px
				overflow: hidden
				display: flex
				flex-flow: row nowrap

				& > #vars_panel {
					flex: 1 1 75px
					margin-right: gutter_size
					background-color: color2

					@media (max-width: 700px) {
						display: none
					}
				}

				& > #console_container {
					flex: 8 1 325px
					overflow: hidden
					position: relative
					background-color: colorbkg
				}
			}
		}
		
		& > #main_menu {
			flex: 0 0 220px
			margin-left: gutter_size
			background-color: colorbkg
		}
		
		& > * {
			position: relative
		}
	}
}

