@require("mixins.styl")
@require("hamburger.styl")

header {
	background-color: color1
	font-size: header_height
	line-height: header_height

	#hamburger {
		// hamburger-button(colorfgd)
		float: right
		cursor: pointer
		display: inline-block
		// width: 30px
		// height: header_height - 12px
		margin: 11px 5px 0 0
		padding: 0
		
		.hamburger-memo {
			display: inline-block
			position: absolute
			top: 5px
			right: 44px
			font-family: narrow_font_family
			font-weight: bold
			font-size: .5em
			line-height: @font-size
	
			@media (max-width: responsive_width_one) {
				display: none
			}
		}
	}

	h1 {
		font-size: inherit
		line-height: inherit
		font-family: heading_font_family
		display: inline-block
		margin: 2px 0 0 3px

		svg {
			display: inline-block
		}
	}
	
	small {
		font-size: (header_height/2)
		line-height: inherit
		font-family: narrow_font_family
		vertical-align: middle
		display: inline-block
		margin: 0 10px
	}
}

#main_menu {
	padding: 5px
	overflow: auto
	-ms-overflow-style: -ms-autohiding-scrollbar
	
	.login_btn{
		cursor: pointer
		display: block
		margin: 5px auto
		width: 200px
		height: 40px
	}
	
	.login_bottom{
		font-size: 0.8em
		font-style: italic
	}
	
	#userbox {
		flaticon(user)
		height: 50px
		padding-left: 60px
		padding-top: 10px
		font-size: 1.2em
		background-repeat: no-repeat
		background-position: left center
		
		a {
			color: inherit
		}
	}
	
	.share-url-box {
		text-align: center
		padding: 1ex 0
		margin-bottom: 1ex
		border-bottom: 1px solid color3
		
		& > * {
			display: block
		}
		
		input {
			width: 90%
			margin: 1ex auto
		}
		
		a {
			cursor: pointer
			text-decoration: underline
			margin-top: 1ex
		}
	}
	
	.instructor-programs {
		margin-bottom: 1ex
		border-bottom: 1px solid color3
		
		ul {
			padding-left: 0
			list-style-type: none
		}
	}
	
	#show-plots-inline-item {
		text-align: center
		font-size: 1.0em
		margin: 1ex auto
		label {
			cursor: pointer
		}
	}
	
	.site-control-item{
		position: relative
		display: block
		width: 190px
		font-size: 1.2em
		margin: 5px auto
		padding: 1ex
		text-align: center
		border-radius: 5px
		background-color: color1

		& > * {
			text-decoration: underline
			color: inherit
		}
		
		& > a {
			display: block
			cursor: pointer
			width: 100%
			height: 100%
		}
		
		&:hover{
			background-color: color2
		}
		&:active{
			background-color: color3
		}
	}
	
	#footnotes {
		margin-top: 20px
		font-size: 0.8em
		font-style: italic
		color: color2

		& > * {
			color: inherit
		}
	}
}
