// Popover Box
popover(_width, _height, _zindex){
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: _zindex
	background: rgba(128, 128, 128, .8)

	& > div {
		position: absolute
		top: 50%
		left: 50%
		width: 100%
		height: 100%

		& > div {
			position: absolute
			top: (_height/-2)
			left: (_width/-2)
			width: _width
			height: _height
			overflow: auto
			box-sizing: border-box
			padding: 20px
			background-color: colorbkg

			.closebtn {
				flaticon-button(cross)
				display: block
				position: absolute
				top: 5px
				right: 5px
			}

			kbd {
				background-color: color2
				border-color: color3
			}
		}
	}
}

// Privacy Policy
#privacy{
	popover(90%, 90%, 301)
	
	article {
		white-space: pre-wrap
	}
}

// Onboarding Div
#onboarding {
	popover(80%, 80%, 300)
	
	font-size: 1.3em
	line-height: 1.3em

	h2{
		margin: 0
		padding: 0
		font-size: 2em
		line-height: 1em
	}

	figure{
		width: 90%;
		margin: 10px auto;
		padding: 5px;
		border-radius: 10px;
		border: 1px solid black;

		& > img{
			display: block;
			margin: 5px auto;
			max-width: 100%
		}
	}

	#onboarding-start{
		background-color: #fac695;
		background-image: linear-gradient(#fac695, #ef8d31, to bottom);
		background-image: radial-gradient(ellipse at center,
			#fac695 0%,
			#f5ab66 47%,
			#ef8d31 100%);
		display: block;
		margin: 10px auto;
		padding: 0.5em;
		font-size: 1.5em;
		cursor: pointer;
		border-radius: 1em;
		border: none;
		background-color: blue;

		&:active{
			background-color: #ffa84c;
			background-image: linear-gradient(#ffa84c, #ff7b0d, to bottom);
			background-image: radial-gradient(ellipse at center,
				#ffa84c 0%,
				#ff7b0d 100%);
		}
	}
}

// Sync info box
#sync_info_box{
	popover(50%, 80%, 300)
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2em;

	h3 {
		margin: 0;
		font-size: 1.4em;
	}

	p {
		margin: 10px;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 5px;

		strong {
			display: block;
			font-weight: normal;
			text-decoration: underline;
		}

		kbd {
			display: inline-block;
			padding: 5px;
			border-radius: 5px;
			border-width: 2px;
			border-style: inset;
		}
	}
}

// Main site loading spinner
#site_loading {
	position: fixed
	top: 50%
	left: 50%
	width: 0
	height: 0
	z-index: 200

	& > img {
		position: absolute
		top: -100px
		left: -100px
		width: 200px
		height: 200px
	}

	#site_loading_patience {
		position: absolute
		top: 110px
		left: -180px
		width: 340px
		height: 30px
		padding: 10px
		text-align: center
	}
}
