/*
 * Copyright © 2018, Octave Online LLC
 *
 * This file is part of Octave Online Server.
 *
 * Octave Online Server is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Octave Online Server is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Octave Online Server.  If not, see
 * <https://www.gnu.org/licenses/>.
 */

color1 = #2E2422
color2 = #47332D
color3 = #6D4B42
colorbkg = #1c1c1c
colorfgd = #E6D2CC
colorerr = #C2C484
colorfg1 = #965341 // for octave:N> line numbers, hovered button
colorfg2 = color3 // for footnotes, plain button
color2lt = #594D4B // for changed variables, pressed button
colorbtn = colorfg1 // for the text on buttons with background-color color1
icon_name = lava

@require("../../all.styl")

// Flashing Style
.ko-flash{
	// background-color: lighten(color2, 20%)
}

.patience{
	background-color: rgba(0, 0, 0, 0.8)
}
