@import "compass";
@import "sanscon";

// Popover Box
@mixin popover($width, $height, $zindex){
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $zindex;
	background: rgba(128, 128, 128, .8);

	& > div{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;

		& > div{
			position: absolute;
			top: ($height/-2);
			left: ($width/-2);
			width: $width;
			height: $height;

			.closebtn{
				@include sanscon(close);
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
	}
}