// Sanscon (Icon) Mixins

$all-employed-sanscon-icons: document, open, download, save, trash, close, arrow1_ne, download, arrow1_sw;
$all-employed-sanscon-colors: white, black;


@function sanscon-url($icon, $color){
	@return url(../images/sanscons/gif/#{$color}/16x16/#{$icon}.gif);
}
@function sanscon-2x-url($icon, $color){
	@return url(../images/sanscons/gif/#{$color}/16x16/#{$icon}@2x.gif);
}
@mixin sanscon-base{
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
}
@mixin sanscon-static($id, $color){
	@include sanscon-base;
	background-image: sanscon-url($id, $color);
}
@mixin sanscon($id){
	@include sanscon-base;
	@each $sanscon-color in $all-employed-sanscon-colors {
		body[data-sanscons-color="#{$sanscon-color}"] & {
			background-image: sanscon-url($id, $sanscon-color);
			@media (-webkit-min-device-pixel-ratio: 1.5),
			       (min-resolution: 144dpi) {
				background-image: sanscon-2x-url($id, $sanscon-color);
				background-size: 16px 16px;
			}
		}
	}
}
